<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Preview</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/Pretendard/dist/web/static/pretendard.css" />
</head>
<body style="margin: 0; padding: 0; font-family: 'Pretendard', sans-serif; background-color: #ffffff;">
<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="max-width: 600px; margin: 0 auto; background-color: #ffffff;">
  <!-- 로고 -->
  <tr>
    <td align="center" style="padding: 20px;">
      <img src="https://i.ibb.co/6cJpVJXy/1740410899881.png" alt="MA-PING 로고" width="150" style="display: block;"/>
    </td>
  </tr>

  <!-- 제목 -->
  <tr>
    <td align="center" style="padding: 20px;">
      <h2 style="margin: 0; font-size: 24px; color: #0E0F14;">메이핑 회원가입 이메일 인증</h2>
    </td>
  </tr>

  <!-- 인증번호 -->
  <tr>
    <td align="center" style="padding: 20px; background-color: #f7f7fa; border-radius: 8px;">
      <p style="margin: 0; font-size: 16px; color: rgba(14,15,20,0.7);">인증번호</p>
      <p style="margin: 20px 0 0; font-size: 48px; font-weight: bold; color: #000;">{{authCode}}</p>
    </td>
  </tr>

  <!-- 설명 -->
  <tr>
    <td align="center" style="padding: 20px;">
      <p style="font-size: 16px; color: rgba(14,15,20,0.7); margin: 0;">
        나에게 딱 맞는 메이플 길라잡이 <br/>
        <span style="color: #4060ff; font-weight: bold;">메이핑</span>에 오신 것을 환영해요 😀<br/><br/>
        회원가입을 계속하려면 인증번호를 입력하여 이메일 주소를 확인해주세요.<br/><br/>
        인증번호의 유효기간은 5분이에요.
      </p>
    </td>
  </tr>

  <!-- 푸터 -->
  <tr>
    <td align="center" style="padding: 20px; background-color: #ffffff;">
      <p style="font-size: 14px; color: rgba(14,15,20,0.7); margin: 0;">
        Data based on NEXON Open API
      </p>
      <p style="font-size: 14px; color: rgba(14,15,20,0.7); margin: 0;">
        Copyright 2025 MA-PING. All rights reserved.
      </p>
      <p style="font-size: 14px; color: rgba(14,15,20,0.7); margin: 0;">
        MA-PING is not associated with NEXON Korea and does not provide any warranty.
      </p>
    </td>
  </tr>
</table>
</body>
</html>
